.gradient-custom {
    /* fallback for old browsers */
    background: #ffaa42;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(155, 66, 34, 1), rgba(255, 170, 66, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(155, 66, 34, 1), rgba(255, 170, 66, 1))
}